
  <div class="profile-page"  *ngFor="let f of infosU">
    <div class="main main-raised" style="margin-top:160px;">
        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                       <div class="profile">
                            <div class="avatar">
                                <img srcset="data:image/png;base64,{{picture}}" alt="Circle Image" class="img-raised rounded-circle img-fluid">

                            </div>
                            <div class="name" >
                                <h2 class="title"> {{f.userFullName}}</h2>
                                
                                </div>
                        </div>
                    </div>
                </div>
                <div class="description text-center">
                    <p>{{f.userDescription}}
                       </p>
                </div>
                <div class="row">
                    <div class="col-md-12 ml-auto mr-auto">
                        <div class="profile-tabs">
                          <ul class="nav nav-pills nav-pills-icons " role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#person" role="tab" data-toggle="tab">
                                  <i class="material-icons">person</i>
                                  Informations
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contact" role="tab" data-toggle="tab">
                                  <i class="material-icons">perm_contact_calendar</i>
                                    Contact
                                </a>
                            </li>
                            <li class="nav-item" >
                                <a class="nav-link" href="#reviews" role="tab" data-toggle="tab">
                                  <i class="material-icons">feedback </i>
                                    Reviews
                                </a>
                            </li>
                            <li class="nav-item" *ngIf="studentService.roleMatch(['Student'])">
                                <a class="nav-link" href="#addreview" role="tab" data-toggle="tab">
                                  <i class="material-icons">rate_review</i>
                                    Add Review
                                </a>
                            </li>
                          </ul>
                        </div>
                </div>
                <div class="row">
                    <div class="col-md-12"><hr></div>
                </div>
                
            </div>
        
          <div class="tab-content tab-space" >
            <div class="tab-pane active " id="person">
                <div class="row  " >
                    <div class="col-md-6 ">
                        <label>User Name</label>
                    </div>
                    <div class="col-md-6 ">
                        <p>{{f.userName}}</p>
                    </div>
                </div>
                <div class="row  " >
                    <div class="col-md-6 ">
                        <label>Full Name</label>
                    </div>
                    <div class="col-md-6 ">
                        <p>{{f.userFullName}}</p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <label>Domain</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{f.userDomain}} </p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <label>Experience</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{f.userExperience}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Level</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{f.userLevel}}</p>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-6">
                        <label>Training name </label>
                    </div>
                    <div class="col-md-6">
                        <p>{{CourseName}}</p>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-6">
                        <label> Price </label>
                    </div>
                    <div class="col-md-6">
                        <p>{{courses.price}}</p>
                    </div>
                </div>
               
              </div>
            <div class="tab-pane " id="contact" >
                <div class="row">
                    <div class="col-md-6">
                        <label>Email</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{f.userEmail}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Phone</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{f.userTelephoneNumber}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>City</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{f.userCity}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Address</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{f.userAddress}}</p>
                    </div>
                </div>
              </div>
            <div class="tab-pane "id="reviews">
                  
                  <div class="container">
                    <div class="row">
                       <div class="col-lg-3">
                                        <label><h2>Reviews</h2></label>
                                    </div>
                      
                    
              
                        <div class="row" *ngFor="let r of reviews">
                            <div class="col-sm-8">
                                <div class="bg-light p-2">
                                    <div class="row d-flex">
                                        <h6 class="name " style="font-size:large ;">{{r.userName}}</h6>
                                  
                                    </div>
                                      <div class="d-flex flex-row align-items-start"><p>{{r.addReview}}</p></div>
                                       </div>
                                
                                
                              
                
                                   
                            </div>
                          
                        </div>
             
                    </div>
                </div>
                 
              </div>
              <div class="tab-pane " id="addreview">
               <!---- <div class="row" >
                    <div class="col-lg-3">
                        <label>Review</label>
                    </div>
                    <div class="col-lg-9">
                      <div class="row" style="display: -webkit-box;
                      display: -ms-flexbox;
                      display: flex;
                      -webkit-box-align: center;
                          -ms-flex-align: center;
                              align-items: center;
                      -webkit-box-pack: justify;
                          -ms-flex-pack: justify;
                              justify-content: space-between;" >
                        <div class="col-lg-8">
                            <input  name="review"   type="text" class="form-control"  >
                        </div>
                        <div class="col-lg-4">
                            <button  name="review"   type="button" class="btn btn-primary" style="padding: 10px;"  >Submit</button>

                        </div>

                      </div>
                       
                    </div>
                    
                </div>-->
                <header id="head" class="secondary"></header>
<!-- container -->
<div class="container">
    <div class="row">
       <div class="col-lg-3">
                        <label><h2>Add Review</h2></label>
                    </div>
                    <div class="alert alert-success" *ngIf='message==1'   >You have successfully added</div>
        <p class="lead">
           
            <small class="text-muted">You took a training ! now tell us what you think  </small>
        </p>

        <hr />

        <div class="row">
            <div class="col-sm-8">

                
                <form role="form" [formGroup]="reviewForm">
                    <!--ce message n'est afficher que si lorsque invalid=true-->
                    <input type="hidden" class="form-control"  ngModel="{{Email}}"  name="" id="" formControlName="email" required   >
                    <input type="hidden" class="form-control"  ngModel="{{courseId}}"  name="" id="" formControlName="courseId" required   >
                    <input type="hidden" class="form-control" name="" ngModel="{{loggedUser}}" id="" formControlName="userName" required   >
                    <div class="bg-light p-2">
                    <div class=" form-group float-label-control">
                        <div class="d-flex flex-row align-items-start"><textarea class="form-control ml-1 shadow-none textarea" placeholder="insert your review" name="" id="" formControlName="addReview" required  ></textarea></div>
                        <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="button" style="background-color:cadetblue ; " (click)="AddR()">Post comment</button></div>
                    </div>
                  </div>
                   
                               
                     
                                                                               
                </form>
              

                   
            </div>
          
        </div>
      
    </div>
</div>
                
            </div>
          </div>
    
        
            </div>
        </div>
    </div>
    </div>
    