/*** VARS ***/
/*** GENERAL STYLES ***/
* {
  box-sizing: border-box;
}

body {
  font-family: "Dosis", sans-serif;
  background: #c5cae9;
  text-align: center;
}

.clear {
  clear: both;
}

/*** CARD STLES ***/
.cards-container {
  width: 793px;
  max-width: 100%;
  margin: 2rem auto;
}

.card {
  float: left;
  margin: 3rem;
}

.card-one {
  position: relative;
  width: 300px;
  background: #fff;
  box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.4);
}
.card-one header {
  position: relative;
  width: 100%;
  height: 60px;
  background-color:darkgray;
  
}
.card-one header::before, .card-one header::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: inherit;
}
.card-one header::before {
  transform: skewY(-8deg);
  transform-origin: 100% 100%;
}
.card-one header::after {
  transform: skewY(8deg);
  transform-origin: 0 100%;
}
.card-one header .avatar {
  position: absolute;
  left: 50%;
  top: 30px;
  margin-left: -50px;
  z-index: 5;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background: #ccc;
  border: 3px solid #fff;
}
.card-one header .avatar img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: auto;
}
.card-one h3 {
  position: relative;
  margin: 80px 0 30px;
  text-align: center;
}
.card-one h3::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 1px;
  background: #000;
}
.card-one .desc {
  padding: 0 1rem 2rem;
  text-align: center;
  line-height: 1.5;
  color: #261d51;
}
.card-one .contacts {
  width: 200px;
  max-width: 100%;
  margin: 0 auto 3rem;
}
.card-one .contacts a {
  display: block;
  width: 100%;
  float: left;
  color: #261d51;  }
.card-one .contacts a:hover {
  color: #333;
}
.card-one .contacts a:hover .fa::before {
  color: #fff;
}
.card-one .contacts a:hover .fa::after {
  width: 100%;
  height: 100%;
}
.card-one .contacts a .fa {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 39px;
  overflow: hidden;
  text-align: center;
  font-size: 1.3em;
  vertical-align: middle;
}
.card-one .contacts a .fa:before {
  position: relative;
  z-index: 1;
  vertical-align: middle;
}
.card-one .contacts a .fa::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius:50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background: #261d51;
  transition: width 0.3s, height 0.3s;
  vertical-align: middle;
}
.card-one .contacts a:last-of-type .fa {
  line-height: 36px;
}
.card-one footer {
  position: relative;
  padding: 1rem;
  background-color: #261d51;
  text-align: center;
}
.card-one footer a {
  padding: 0 1rem;
  color: #e2e2e2;
  transition: color 0.4s;
}
.card-one footer a:hover {
  color: darkgray;
}
.card-one footer::before {
  content: "";
  position: absolute;
  top: -27px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom-color: #261d51;
}



.card .multi-button {
  z-index: 0;
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  border-radius: 100%;
  width: 0rem;
  height: 0rem;
  transform: translate(-50%, -50%);
  transition: 0.25s cubic-bezier(0.25, 0, 0, 1);
}
.card .multi-button button {
  display: grid;
  place-items: center;
  position: absolute;
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 100%;
  background: darkgray;
  color: #261d51;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.25s cubic-bezier(0.25, 0, 0, 1);
  box-shadow: 0 0 0rem -0.25rem var(--background);
}
 .card .multi-button button:hover {
  background: #261d51;
  color: darkgray;
  box-shadow: 0 0 1rem -0.25rem var(--background);
}
.card .multi-button button:first-child:nth-last-child(1) {
  left: 25%;
  top: 25%;
}
 .card .multi-button button:first-child:nth-last-child(2):nth-child(1),  .card .multi-button button:first-child:nth-last-child(2) ~ *:nth-child(1) {
  left: 37.5%;
  top: 18.75%;
}
 .card .multi-button button:first-child:nth-last-child(2):nth-child(2),  .card .multi-button button:first-child:nth-last-child(2) ~ *:nth-child(2) {
  left: 18.75%;
  top: 37.5%;
}
 .card .multi-button button:first-child:nth-last-child(3):nth-child(1),  .card .multi-button button:first-child:nth-last-child(3) ~ *:nth-child(1) {
  left: 50%;
  top: 15.625%;
}
 .card .multi-button button:first-child:nth-last-child(3):nth-child(2), .card .multi-button button:first-child:nth-last-child(3) ~ *:nth-child(2) {
  left: 25%;
  top: 25%;
}
 .card .multi-button button:first-child:nth-last-child(3):nth-child(3), .card .multi-button button:first-child:nth-last-child(3) ~ *:nth-child(3) {
  left: 15.625%;
  top: 50%;
}
 .card .multi-button button:first-child:nth-last-child(4):nth-child(1), .card .multi-button button:first-child:nth-last-child(4) ~ *:nth-child(1) {
  left: 62.5%;
  top: 18.75%;
}
 .card .multi-button button:first-child:nth-last-child(4):nth-child(2), .card .multi-button button:first-child:nth-last-child(4) ~ *:nth-child(2) {
  left: 37.5%;
  top: 18.75%;
}
 .card .multi-button button:first-child:nth-last-child(4):nth-child(3), .card .multi-button button:first-child:nth-last-child(4) ~ *:nth-child(3) {
  left: 18.75%;
  top: 37.5%;
}
.card .multi-button button:first-child:nth-last-child(4):nth-child(4),  .card .multi-button button:first-child:nth-last-child(4) ~ *:nth-child(4) {
  left: 18.75%;
  top: 62.5%;
}
.card .container {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background: var(--background);
  color: var(--text);
}
 .card:hover .multi-button,  .card .multi-button:focus-within {
  width: 10rem;
  height: 10rem;
}

.clear {
  clear: both;
}

/*** CARD STLES ***/
.cards-container {
  width: 793px;
  max-width: 100%;
  margin: 2rem auto;
}

.card {
  float: left;
  margin: 3rem;
}

 .date {
  width: 100%;
  opacity: .7;
  text-align: center;
}

.card-two {
  position: relative;
  width: 300px;
  background: #fff;
  box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.4);
}
.card-two header {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: darkgray;
}
.card-two header::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: inherit;
  transform: skewY(8deg);
  transform-origin: 0 100%;
}


.card-two h2 {
  position: relative;
  margin: 20px 0 10px;
  text-align: center;
  color: #777;
}
.card-two h2::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 1px;
  background: #000;
}
.card-two .desc {
  padding: 0 3rem 2rem;
  text-align: center;
  line-height: 2;
  color: #777;
}
.card-two .contacts {
  width: 200px;
  max-width: 100%;
  margin: 0 auto 3.5rem;
}
.card-two .contacts a {
  display: block;
  float: left;
  width: 100%;
  color: #261d51;
  margin-bottom: 10px;
}
.card-two .contacts a:hover {
  color: #333;
}
.card-two .contacts a:hover .fa::before {
  color: #fff;
}
.card-two .contacts a:hover .fa::after {
  top: 0;
}
.card-two .contacts a .fa {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 39px;
  overflow: hidden;
  text-align: center;
  border: 2px solid #261d51;
  border-radius: 50%;
  
  vertical-align: middle;
}
.card-two .contacts a .fa:before {
  position: relative;
  z-index: 1;
}
.card-two .contacts a .fa::after {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 100%;
  transition: top 0.3s;
  background: #261d51;
}
.card-two .contacts a:last-of-type .fa {
  line-height: 36px;
}
.card-two footer {
  position: relative;
  height: 45px;
  background-color: #6573d0;
  text-align: center;
}

.card-two footer::before {
  z-index: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  background: inherit;
  transform: skewY(8deg);
  transform-origin: 100%;
}


/*** RESPONSIVE ***/
@media only screen and (max-width: 810px) {
  .card {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}