<div class="container" style="padding-top:150px;">
    <h1 class="text-center " style="color: darkslategray;" ><strong>With Formiw you could find a course either in training center or at home with a good former</strong> </h1>
        <div class="row mt-5" >
            <div class="col-lg-6 mb-5 "  >
                <div class="cover shadow-lg " style="height: 300px;" routerLink="center-category">
                      <h3 style="color:#000; font-size:30px ;opacity: 80%;">center</h3>

                    <div class="bg" style="background-image:url(../../../assets/img/forma.jpg); height: 300px; " >
                        
                        <span></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-5"  >
                <div class="cover shadow-lg" style="height: 300px;" routerLink="courses" >
                    
                    <h3 style="color:rgb(0, 0, 0); font-size:30px ; opacity: 80%;">former</h3>
                    <div class="bg" style="background-image:url(../../../assets/img/former1.webp); height: 300px; " >
                        
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    
       
    
    </div>